# Data Cleaning & Exploration

Objectives:
- Inspect schema and missingness
- Handle nulls/outliers
- Save cleaned dataset to `Data/cleaned_data.csv`

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
DATA_PATH = '../Data/student_data.csv'
DF = pd.read_csv(DATA_PATH)
DF.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,Caucasian,Some College,19.833723,7.0,1,Moderate,0,0,1,NaN,2.929196,2.0
1,1002,18,0,Caucasian,High School,15.408756,0.0,0,Low,0,0,0,NaN,3.042915,1.0
2,1003,15,0,Asian,Bachelor's,4.210570,26.0,0,Moderate,0,0,0,NaN,0.112602,4.0
3,1004,17,1,Caucasian,Bachelor's,10.028829,14.0,0,High,1,0,0,NaN,2.054218,3.0
4,1005,17,1,Caucasian,Some College,4.672495,17.0,1,High,0,0,0,NaN,1.288061,4.0

In [69]:
# Basic info and missingness
DF.info()
DF.isna().sum().sort_values(ascending=False)

# show percentage of nulls per column
DF.isna().sum() / len(DF) * 100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   object
 4   ParentalEducation  2149 non-null   object
 5   StudyTimeWeekly    2345 non-null   float64
 6   Absences           2321 non-null   float64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2180 non-null   object
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       72 non-null     float64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(5), int64(7), object(3)
memory usage: 280.4+ KB

StudentID             0.000000
Age                   0.000000
Gender                0.000000
Ethnicity             0.000000
ParentalEducation    10.158863
StudyTimeWeekly       1.964883
Absences              2.968227
Tutoring              0.000000
ParentalSupport       8.862876
Extracurricular       0.000000
Sports                0.000000
Music                 0.000000
Volunteering         96.989967
GPA                   0.000000
GradeClass            0.000000
dtype: float64

In [70]:
## We are dropping volunteering column due to high null values
DF = DF.drop(columns=['Volunteering'])

# check unique categories in Ethnicity, ParentalEducation, and ParentalSupport
print(DF['Ethnicity'].unique())
print(DF['ParentalEducation'].unique())
print(DF['ParentalSupport'].unique())

['Caucasian' 'Asian' 'African American' 'Other']
['Some College' 'High School' "Bachelor's" 'Higher' nan]
['Moderate' 'Low' 'High' 'Very High' nan]

In [71]:
# We are dropping the following rows that are null in the following columns, due to low percentage of nulls
# StudyTimeWeekly, Absences

DF = DF[DF['StudyTimeWeekly'].notna()]
DF = DF[DF['Absences'].notna()]

# we are changing null values in ParentalEducation to 'unknown'
DF['ParentalEducation'] = DF['ParentalEducation'].fillna('unknown')
DF['ParentalSupport'] = DF['ParentalSupport'].fillna('unknown')

# check current categories after filling nulls
print("ParentalEducation categories:", DF['ParentalEducation'].value_counts())
print("ParentalSupport categories:", DF['ParentalSupport'].value_counts())

ParentalEducation categories: ParentalEducation
Some College    885
High School     696
Bachelor's      353
unknown         228
Higher          113
Name: count, dtype: int64
ParentalSupport categories: ParentalSupport
Moderate     703
High         664
Low          467
Very High    237
unknown      204
Name: count, dtype: int64

## Data Validation

In [72]:
# Age Validation
age_outliers = DF[DF['Age'] < 15] | DF[DF['Age'] > 18]
print(f"Age outliers: {age_outliers}")

# GPA validation
gpa_outliers = DF[(DF['GPA'] < 0.0) | (DF['GPA'] > 4.0)]
print(f"GPA outliers: {len(gpa_outliers)} rows")

# StudyTimeWeekly validation
study_outliers = DF[DF['StudyTimeWeekly'] <= 0]
print(f"StudyTimeWeekly outliers: {len(study_outliers)} rows")

# Absences validation
absences_outliers = DF[DF['Absences'] < 0]
print(f"Absences outliers: {len(absences_outliers)} rows")

Age outliers: Empty DataFrame
Columns: [StudentID, Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, GPA, GradeClass]
Index: []
GPA outliers: 0 rows
StudyTimeWeekly outliers: 0 rows
Absences outliers: 0 rows

In [73]:
#save cleaned data
DF.to_csv('../Data/cleaned_data.csv', index=False)